{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        <form action="{% url 'editar_conta' matricula %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Registrar</div>
                    <div class="panel-body">
                        {% for field in forms %}
                            <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            
                            {{ field }}

                            {% if field.errors %}
                                <ul class="errorlist">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                                
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <label>Foto Atual</label>
                            <img src="data:image/jpeg;base64,{{imagem}}" alt="Imagem" width="200" height="200"/>
                        </div>
  
                        <div class="col-md-6 col-md-offset-4">
                            <input name="login" type="submit" value="Editar" class="btn btn-info" /> &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}