{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row row-cols-3 g-3">
                    <div class="col">
                        <div class="card">
                            <a href="/polls/professor">
                                <img src="{% static '/images/professora.png' %}" class="card-img-top"
                                alt="professor" weight="256", height="256"/>
                                <div class="card-body">
                                <h2 class="card-title">Professores</h2>
                                <p class="card-text">
                                    Avalie seus professores em todos os aspectos que sejam relevantes para quem 
                                    deseja pegar alguma disciplina, um projeto de extensão, ou até mesmo um TCC.
                                </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a href="/polls/login">
                                <img src="{% static '/images/professora.png' %}" class="card-img-top"
                                alt="professor" weight="256", height="256"/>
                                <div class="card-body">
                                <h2 class="card-title">Turma/Disciplina</h2>
                                <p class="card-text">
                                    Avalie sua Turma/Disciplina com base na sua experiência na matéria, e comente
                                    o que você achar relevante para quem está pensando em fazer essa disciplina.
                                </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a href="/polls/login">
                                <img src="{% static '/images/professora.png' %}" class="card-img-top"
                                alt="professor" weight="256", height="256"/>
                                <div class="card-body">
                                <h2 class="card-title">Denúncias</h2>
                                <p class="card-text">
                                    Caro administrador, verifique se há alguma denúncia de algum comentário e
                                    avalie a necessidade de apagar o comentário.
                                </p>
                                </div>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}