{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row row-cols-3 g-3">
                    <div class="col">
                        <div class="card">
                            <a href="/polls/professor">
                                <img src="{% static '/images/professora.png' %}" class="card-img-top"
                                alt="professor" weight="256", height="256"/>
                                <div class="card-body">
                                <h2 class="card-title">Professores</h2>
                                <p class="card-text">
                                    This is a longer card with supporting text below as a natural lead-in to
                                    additional content. This content is a little bit longer.
                                </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a href="/polls/login">
                                <img src="{% static '/images/professora.png' %}" class="card-img-top"
                                alt="professor" weight="256", height="256"/>
                                <div class="card-body">
                                <h2 class="card-title">Professores</h2>
                                <p class="card-text">
                                    This is a longer card with supporting text below as a natural lead-in to
                                    additional content. This content is a little bit longer.
                                </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a href="/polls/login">
                                <img src="{% static '/images/professora.png' %}" class="card-img-top"
                                alt="professor" weight="256", height="256"/>
                                <div class="card-body">
                                <h2 class="card-title">Professores</h2>
                                <p class="card-text">
                                    This is a longer card with supporting text below as a natural lead-in to
                                    additional content. This content is a little bit longer.
                                </p>
                                </div>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}