{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class="">
        <div class = "container text-center mx-auto">
            <h1>{{disc}}</h1>
            <h2>{{nome_prof}}</h2>
            <h5>{{dep}}</h5>
            <h4><i class="fa fa-star"></i>  {{nota|floatformat:2}}</h4>
        </div>

        <section class="content-item" id="comments">
            <div class="container">   
                <div class="row">
                    <div class="col-sm-11">   
                        <form action="{% url 'turma_read' pk pk1 %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h3 class="pull-left">Nova Avaliação</h3>
                            
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-1 col-lg-2 hidden-xs">
                                        <img class="img-responsive" src="data:image/jpeg;base64,{{my_image}}" alt="">
                                    </div>
                                    <div class="form-group col-xs-11 col-sm-6 col-lg-5">
                                        <textarea class="form-control" id="message" name="message" placeholder="Sua avaliação" required=""></textarea>
                                    </div>
                                    
                                    <div class = "col-md-2">

                                        {% for field in form_turma %}
                                            <div class="form-group">
                                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            {{ field }}
                                            {% if field.errors %}
                                                <ul class="errorlist">
                                                {% for error in field.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                                </ul>
                                            {% endif %}
                                                
                                            </div>
                                        {% endfor %}
                                    </div>
                                    
                                    <div class="col-md-3 ">
                                        <div class="box box-orange box-example-1to10">
                                            <div class="box-header">1/10 Avaliação</div>
                                            <div class="box-body">
                                                <select id="example-1to10" name="rating" autocomplete="off">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7" selected="selected">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>  	
                            </fieldset>
                            <button type="submit" onclick="location.reload();" class="btn btn-info pull-right">Enviar</button>
                        </form>
                        
                        <h3>{{users|length}} Comentário(s)</h3>
                        
                        {% for u in users %}
                        <!-- COMENTARIO -->
                        <div class="media">
                            <a class="pull-left" href="#"><img class="media-object" src="data:image/jpeg;base64,{{u.1}}" alt=""></a>
                            <div class="media-body">
                                <h4 class="media-heading">{{u.2}}</h4>
                                <p>{{u.3}}</p>
                                <ul class="list-unstyled list-inline media-detail pull-left">
                                    <li><i class="fa fa-calendar"></i>{{u.4}}</li>
                                    <li><i class="fa fa-star"></i>{{u.5}}</li>
                                    <li><i class="fa fa-book"></i>Turma - {{u.7}}/{{u.8}}</li>
                                    {% if u.6 == True %}
                                        <li><a href="{% url 'avaliacao_turma_edit' u.0 %}"><i class="fas fa-edit"></i>Editar</a></li>
                                        <li><a href="{% url 'avaliacao_turma_delete' u.0 %}"><i class="fas fa-trash"></i>Excluir</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'denunciar' u.0 %}"><i class="fa-solid fa-triangle-exclamation"></i>Denunciar</a></li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- COMENTARIO -->
                    
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="pagination">
        <span class="step-links">
          {% if object.has_previous %}
            <a href="?page=1">&laquo; Primeira</a>
            <a href="?page={{ object.previous_page_number }}">Anterior</a>
          {% endif %}
      
          <span class="current-page">{{ object.number }}</span>
      
          {% if object.has_next %}
            <a href="?page={{ object.next_page_number }}">Próxima</a>
            <a href="?page={{ object.paginator.num_pages }}">Última &raquo;</a>
          {% endif %}
        </span>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function() {
        function ratingEnable() {
            $('#example-1to10').barrating('show', {
                theme: 'bars-1to10'
            });
        }
        ratingEnable();
    });

    $(document).ready(function() {
        $('#id_periodo').change(function() {
            var valor_campo_a = $(this).val();
            obterOpcoes(valor_campo_a);
        });

        function obterOpcoes(valor_campo_a) {
        $.ajax({
            url: "{% url 'filtro_turma' pk pk1 %}",
            data: {
                id_periodo: valor_campo_a
            },
            success: function(response) {
                $('#id_turma').html(response);
            }
        });
        }
    });
</script>
{% endblock %}