{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class="">
        <section class="content-item" id="comments">
            <div class="container">   
                <div class="row">
                    <div class="col-sm-10">   
                        <form action="{% url 'avaliacao_turma_edit' pk %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h3 class="pull-left">Nova Avaliação</h3>
                            
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-1 col-lg-2 hidden-xs">
                                        <img class="img-responsive" src="data:image/jpeg;base64,{{my_image}}" alt="">
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-6 col-lg-6">
                                        <textarea class="form-control" id="message" name="message" placeholder="Sua avaliação" required="">{{comentario}}</textarea>
                                    </div>
                                    
                                    <div class="col-md-4 ">
                                        <div class="box box-orange box-example-1to10">
                                            <div class="box-header">1/10 Avaliação</div>
                                            <div class="box-body">
                                                <select id="example-1to10" name="rating" autocomplete="off">
                                                    <option value="1" {% if nota == 1 %}selected="selected"{% endif %}>1</option>
                                                    <option value="2" {% if nota == 2 %}selected="selected"{% endif %}>2</option>
                                                    <option value="3" {% if nota == 3 %}selected="selected"{% endif %}>3</option>
                                                    <option value="4" {% if nota == 4 %}selected="selected"{% endif %}>4</option>
                                                    <option value="5" {% if nota == 5 %}selected="selected"{% endif %}>5</option>
                                                    <option value="6" {% if nota == 6 %}selected="selected"{% endif %}>6</option>
                                                    <option value="7" {% if nota == 7 %}selected="selected"{% endif %}>7</option>
                                                    <option value="8" {% if nota == 8 %}selected="selected"{% endif %}>8</option>
                                                    <option value="9" {% if nota == 9 %}selected="selected"{% endif %}>9</option>
                                                    <option value="10" {% if nota == 10 %}selected="selected"{% endif %}>10</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>  	
                            </fieldset>
                            <button type="submit" onclick="location.reload();" class="btn btn-info pull-right">Editar</button>
                        </form>                    
                    
                    </div>
                </div>
            </div>
        </section>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function() {
        function ratingEnable() {
            $('#example-1to10').barrating('show', {
                theme: 'bars-1to10'
            });
        }
        ratingEnable();
    });
</script>
{% endblock %}